Repository lwmacct/260103-ddd-bc-iam: changes, and which pre-commit hooks are due for each by the changed paths.
All: precommit-checks, swagger-generate

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information

# 全局配置
default_stages: [pre-commit]
fail_fast: true # 发现第一个错误即停止

repos:
  # 本地自定义检查
  - repo: local
    hooks:
      - id: precommit-checks
        name: Run precommit checks (naming, consistency)
        entry: go test ./internal/precommit/...
        language: system
        pass_filenames: false
        stages: [pre-commit]
        files: ^internal/(application/.*\.go|adapters/http/(router\.go|handler/.*\.go|registry/.*\.go)|precommit/.*\.go)$

      - id: swagger-generate
        name: Generate Swagger/OpenAPI docs
        entry: swag init -g internal/command/server/command.go -o docs/swagger --parseDependencyLevel 3 --parseInternal
        language: system
        pass_filenames: false
        stages: [pre-commit]
        files: (handler/.*\.go|command/server/[^/]+$|^go\.mod$)

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=512"]

  - repo: https://github.com/lwmacct/251211-pre-commit
    rev: v1.0.2
    hooks:
      - id: prettier
      - id: mc-mdtoc
      - id: golangci-lint
      - id: config-sync

test(settings): add Org/Team/User settings API and permission tests
  internal/manualtest/settings/org/org_test.go
  internal/manualtest/settings/team/team_test.go
  internal/manualtest/settings/user/user_test.go
Due: none

fix(settings): correct Fx module name and doc path after rename
  pkg/modules/settings/infra/cache/module.go
  pkg/modules/settings/module.go
Due: none

refactor(settings): reuse upstream DTO types for consistency
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  go.mod
  go.sum
  pkg/modules/settings/app/org/dto.go
  pkg/modules/settings/app/org/mapper.go
  pkg/modules/settings/app/team/dto.go
  pkg/modules/settings/app/user/dto.go
  pkg/modules/settings/app/user/mapper.go
Due: swagger-generate

fix(settings): unify API query param from category_id to category
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  pkg/modules/settings/app/module.go
  pkg/modules/settings/app/org/qry_list.go
  pkg/modules/settings/app/org/queries.go
  pkg/modules/settings/app/team/qry_list.go
  pkg/modules/settings/app/team/queries.go
  pkg/modules/settings/app/user/qry_list.go
  pkg/modules/settings/app/user/queries.go
Due: none

refactor(settings): unify API response to flat DTO structure
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  go.mod
  go.sum
  internal/manualtest/settings/org/org_test.go
  internal/manualtest/settings/team/team_test.go
  internal/manualtest/settings/user/user_test.go
  internal/precommit/utils_test.go
  pkg/modules/settings/adapters/gin/handler/handler.go
  pkg/modules/settings/adapters/gin/handler/org_settings_handler.go
  pkg/modules/settings/adapters/gin/handler/team_settings_handler.go
  pkg/modules/settings/adapters/gin/manualtest/factory.go
  pkg/modules/settings/app/module.go
  pkg/modules/settings/app/org/cmd_set.go
  pkg/modules/settings/app/org/dto.go
  pkg/modules/settings/app/org/mapper.go
  pkg/modules/settings/app/org/qry_get.go
  pkg/modules/settings/app/org/qry_list.go
  pkg/modules/settings/app/team/cmd_set.go
  pkg/modules/settings/app/team/dto.go
  pkg/modules/settings/app/team/mapper.go
  pkg/modules/settings/app/team/qry_get.go
  pkg/modules/settings/app/team/qry_list.go
  pkg/modules/settings/app/user/cmd_batch_set.go
  pkg/modules/settings/app/user/cmd_set.go
  pkg/modules/settings/app/user/dto.go
  pkg/modules/settings/app/user/mapper.go
  pkg/modules/settings/app/user/qry_get.go
  pkg/modules/settings/app/user/qry_list.go
Due: precommit-checks, swagger-generate

feat(settings): add Scope field to category for visibility filtering
  .env.example
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  go.mod
  go.sum
  pkg/modules/settings/app/user/dto.go
  pkg/modules/settings/app/user/mapper.go
  pkg/modules/settings/app/user/qry_list_categories.go
Due: swagger-generate

fix(iam): 修复 org/team settings 动态权限注入
  internal/manualtest/settings/org/org_test.go
  internal/manualtest/settings/team/team_test.go
  pkg/modules/iam/adapters/gin/middleware/org_context.go
  pkg/modules/iam/adapters/gin/middleware/team_context.go
  pkg/modules/settings/app/team/filter.go
  pkg/modules/settings/app/user/filter.go
  pkg/modules/settings/app/user/qry_list.go
Due: none

refactor(iam): 采用 LMS 风格分布式模块架构
  pkg/modules/iam/adapters/gin/handler/admin_user.go
  pkg/modules/iam/adapters/gin/handler/audit.go
  pkg/modules/iam/adapters/gin/handler/auth.go
  pkg/modules/iam/adapters/gin/handler/captcha.go
  pkg/modules/iam/adapters/gin/handler/module.go
  pkg/modules/iam/adapters/gin/handler/org.go
  pkg/modules/iam/adapters/gin/handler/org_member.go
  pkg/modules/iam/adapters/gin/handler/pat.go
  pkg/modules/iam/adapters/gin/handler/role.go
  pkg/modules/iam/adapters/gin/handler/team.go
  pkg/modules/iam/adapters/gin/handler/team_member.go
  pkg/modules/iam/adapters/gin/handler/twofa.go
  pkg/modules/iam/adapters/gin/handler/user_org.go
  pkg/modules/iam/adapters/gin/handler/user_profile.go
  pkg/modules/iam/app/audit/module.go
  pkg/modules/iam/app/auth/module.go
  pkg/modules/iam/app/captcha/module.go
  pkg/modules/iam/app/module.go
  pkg/modules/iam/app/org/module.go
  pkg/modules/iam/app/pat/module.go
  pkg/modules/iam/app/role/module.go
  pkg/modules/iam/app/twofa/module.go
  pkg/modules/iam/app/user/module.go
Due: swagger-generate

refactor: 修复 import cycle 并完成 Settings BC 分布式模块重构
  internal/container/service.go
  pkg/modules/iam/app/audit/module.go
  pkg/modules/iam/app/auth/module.go
  pkg/modules/iam/app/captcha/module.go
  pkg/modules/iam/app/org/module.go
  pkg/modules/iam/app/pat/module.go
  pkg/modules/iam/app/role/module.go
  pkg/modules/iam/app/twofa/module.go
  pkg/modules/iam/app/user/module.go
  pkg/modules/iam/domain/user/cache.go
  pkg/modules/iam/infra/auth/permission_cache_service.go
  pkg/modules/iam/infra/cache/module.go
  pkg/modules/iam/infra/cache/user_with_roles_cache_service.go
  pkg/modules/iam/infra/persistence/module.go
  pkg/modules/iam/infra/persistence/user_cached_command_repository.go
  pkg/modules/iam/infra/persistence/user_cached_query_repository.go
  pkg/modules/settings/adapters/gin/handler/handler.go
  pkg/modules/settings/adapters/gin/handler/module.go
  pkg/modules/settings/adapters/gin/handler/org_settings_handler.go
  pkg/modules/settings/adapters/gin/handler/team_settings_handler.go
  pkg/modules/settings/app/module.go
  pkg/modules/settings/app/org/module.go
  pkg/modules/settings/app/team/module.go
  pkg/modules/settings/app/user/module.go
Due: swagger-generate

chore 2026-01-07 23:10:12 CST
  go.mod
  go.sum
  pkg/modules/settings/adapters/gin/handler/module.go
Due: swagger-generate

refactor(iam): 路由文件按模块重新组织
  internal/container/router.go
  pkg/modules/iam/adapters/gin/routes/admin.go
  pkg/modules/iam/adapters/gin/routes/audit.go
  pkg/modules/iam/adapters/gin/routes/auth.go
  pkg/modules/iam/adapters/gin/routes/captcha.go
  pkg/modules/iam/adapters/gin/routes/org.go
  pkg/modules/iam/adapters/gin/routes/pat.go
  pkg/modules/iam/adapters/gin/routes/public.go
  pkg/modules/iam/adapters/gin/routes/role.go
  pkg/modules/iam/adapters/gin/routes/router.go
  pkg/modules/iam/adapters/gin/routes/routes.go
  pkg/modules/iam/adapters/gin/routes/twofa.go
  pkg/modules/iam/adapters/gin/routes/user.go
Due: none

refactor(routes): 迁移 IAM 和 Settings BC 到 fx Module 模式
  internal/container/http.go
  internal/container/router.go
  pkg/modules/iam/adapters/gin/routes/module.go
  pkg/modules/iam/adapters/gin/routes/routes.go
  pkg/modules/iam/module.go
  pkg/modules/settings/adapters/gin/routes/module.go
  pkg/modules/settings/adapters/gin/routes/routes.go
  pkg/modules/settings/module.go
Due: none

chore 2026-01-08 01:33:10 CST
  go.mod
  go.sum
Due: swagger-generate

refactor: 代码规则审核修复 (P0 + P2)
  pkg/modules/iam/adapters/gin/routes/org.go
  pkg/modules/iam/infra/twofa/service.go
Due: none

refactor(middleware): 统一使用 ctxutil 常量替代硬编码字符串 (P1)
  go.mod
  go.sum
  pkg/modules/iam/adapters/gin/middleware/org_context.go
  pkg/modules/iam/adapters/gin/middleware/team_context.go
Due: swagger-generate

refactor(iam, settings): 代码规则审核修复（P0+P1+P2）
  pkg/modules/iam/adapters/gin/handler/doc.go
  pkg/modules/iam/adapters/gin/handler/user_profile.go
  pkg/modules/iam/adapters/gin/manualtest/doc.go
  pkg/modules/iam/adapters/gin/routes/doc.go
  pkg/modules/iam/app/auth/doc.go
  pkg/modules/iam/app/twofa/doc.go
  pkg/modules/iam/config/doc.go
  pkg/modules/iam/domain/audit/doc.go
  pkg/modules/iam/domain/audit/errors.go
  pkg/modules/iam/domain/auth/errors.go
  pkg/modules/iam/domain/org/doc.go
  pkg/modules/iam/domain/org/errors.go
  pkg/modules/iam/domain/pat/errors.go
  pkg/modules/iam/domain/role/doc.go
  pkg/modules/iam/domain/role/errors.go
  pkg/modules/iam/domain/twofa/errors.go
  pkg/modules/iam/domain/user/errors.go
  pkg/modules/iam/infra/cache/doc.go
  pkg/modules/settings/adapters/gin/handler/doc.go
  pkg/modules/settings/adapters/gin/handler/handler.go
  pkg/modules/settings/adapters/gin/handler/org_settings_handler.go
  pkg/modules/settings/adapters/gin/handler/team_settings_handler.go
  pkg/modules/settings/app/module.go
  pkg/modules/settings/app/org/dto.go
  pkg/modules/settings/app/org/module.go
  pkg/modules/settings/app/team/dto.go
  pkg/modules/settings/app/team/module.go
  pkg/modules/settings/app/user/dto.go
  pkg/modules/settings/app/user/module.go
  pkg/modules/settings/infra/cache/doc.go
Due: swagger-generate

docs(iam, settings): 补充缺失的包级文档注释
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  go.mod
  go.sum
  internal/container/settings_providers.go
  pkg/modules/iam/app/doc.go
  pkg/modules/iam/domain/role/example_test.go
  pkg/modules/iam/infra/eventhandler/doc.go
  pkg/modules/iam/infra/persistence/doc.go
  pkg/modules/settings/infra/persistence/doc.go
Due: swagger-generate

fix(container): 导出 SettingChangeNotifier 接口供缓存失效使用
  internal/container/settings_providers.go
Due: none

chore 2026-01-08 22:54:37 CST
  go.mod
  go.sum
Due: swagger-generate

fix(routes): add missing /api/admin/audit/actions route
  pkg/modules/iam/adapters/gin/routes/audit.go
Due: none

chore 2026-01-09 06:15:31 CST
  README.md
  go.mod
  go.sum
  internal/container/hooks.go
  internal/container/http.go
  internal/container/router.go
  internal/container/settings_module.go
  internal/container/settings_providers.go
  internal/container/types.go
  pkg/modules/settings/app/org/cmd_set.go
  pkg/modules/settings/app/org/dto.go
  pkg/modules/settings/app/org/mapper.go
  pkg/modules/settings/app/org/module.go
  pkg/modules/settings/app/org/qry_get.go
  pkg/modules/settings/app/org/qry_list.go
  pkg/modules/settings/app/team/cmd_set.go
  pkg/modules/settings/app/team/dto.go
  pkg/modules/settings/app/team/filter.go
  pkg/modules/settings/app/team/mapper.go
  pkg/modules/settings/app/team/module.go
  pkg/modules/settings/app/team/qry_get.go
  pkg/modules/settings/app/team/qry_list.go
  pkg/modules/settings/app/user/cmd_batch_set.go
  pkg/modules/settings/app/user/cmd_set.go
  pkg/modules/settings/app/user/dto.go
  pkg/modules/settings/app/user/filter.go
  pkg/modules/settings/app/user/mapper.go
  pkg/modules/settings/app/user/module.go
  pkg/modules/settings/app/user/qry_get.go
  pkg/modules/settings/app/user/qry_list.go
  pkg/modules/settings/app/user/qry_list_categories.go
Due: swagger-generate

chore 2026-01-09 20:50:36 CST
  internal/config/config.go
  internal/container/config_adapter.go
  internal/container/infra.go
Due: none

chore 2026-01-09 20:57:32 CST
  .gitignore
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  internal/command/server/command.go
  openapitools.json
  package.json
  pnpm-lock.yaml
Due: swagger-generate

chore 2026-01-09 21:03:55 CST
  .pre-commit-config.yaml
Due: none

chore 2026-01-09 21:06:31 CST
  .pre-commit-config.yaml
Due: none

chore 2026-01-14 23:28:12 CST
  go.mod
  go.sum
Due: swagger-generate

chore 2026-01-16 21:56:20 CST
  .pre-commit-config.yaml
  package.json
Due: none

chore 2026-01-16 21:57:15 CST
  go.mod
Due: swagger-generate

chore 2026-01-16 21:58:08 CST
  go.mod
  go.sum
Due: swagger-generate

chore 2026-01-17 16:53:10 CST
  openapitools.json
  pnpm-lock.yaml
Due: none

refactor: 修复 P0/P1 问题并重构配置分层
  internal/config/config.go
  internal/container/config_adapter.go
  internal/container/infra.go
  internal/container/settings_providers.go
  pkg/modules/iam/adapters/gin/handler/admin_user.go
  pkg/modules/iam/adapters/gin/handler/role.go
  pkg/modules/iam/adapters/gin/handler/twofa.go
  pkg/modules/iam/adapters/gin/handler/user_profile.go
  pkg/modules/iam/app/audit/doc.go
  pkg/modules/iam/app/auth/queries.go
  pkg/modules/iam/app/captcha/queries.go
  pkg/modules/iam/app/user/cmd_assign_roles.go
  pkg/modules/iam/app/user/cmd_create.go
  pkg/modules/iam/app/user/cmd_update.go
  pkg/modules/iam/config/config.go
  pkg/modules/iam/config/defaults.go
  pkg/modules/iam/infra/cache/module.go
  pkg/modules/iam/infra/persistence/user_command_repository.go
  pkg/modules/settings/adapters/gin/handler/handler.go
  pkg/modules/settings/adapters/gin/handler/org_settings_handler.go
  pkg/modules/settings/adapters/gin/handler/team_settings_handler.go
Due: swagger-generate

fix: 实现 P2 问题修复
  internal/bootstrap/server.go
  internal/container/middleware.go
  pkg/modules/iam/adapters/gin/middleware/audit.go
  pkg/modules/settings/infra/cache/module.go
Due: none

chore: 升级依赖版本
  go.mod
  go.sum
Due: swagger-generate
